[submodule "external/esp32-idf"]
	path = external/esp32-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "external/matplotlib-cpp"]
	path = external/matplotlib-cpp
	url = https://github.com/bietje/matplotlib-cpp.git
